# All files ignored by default, specific files or dirs must be explicitly whitelisted
*
!*/
home/*

!.gitignore
!README.md

# Home config files
!home/.config/zoom.conf
!home/.gitconfig

# Root files
!root/arch_packages.txt
!root/arch_aur_packages.txt
