# All files ignored by default, specific files or dirs must be explicitly whitelisted
*
!*/

!.gitignore
!Makefile
!README.md

# Home app config files
!home/.config/cherrytree/*
!home/.config/cherrytree/styles/*
!home/.config/fish/*
!home/.config/fish/completions/*
!home/.config/fish/functions/*
!home/.config/i3/*
!home/.config/sway/*
!home/.config/swayidle/*
!home/.config/waybar/*
!home/.config/waybar/modules/*
!home/.gitconfig

# Custom systemd modules
!home/.config/systemd/user/*.service
!home/.config/systemd/user/*.timer

# Local custom bins and scripts
# NB: These may be your sensitive custom scripts. Don't wildcard these.
!home/.local/bin/swaybg_random.sh

# Root files
!root/arch_packages.txt
!root/arch_aur_packages.txt
